In [6]:
a = 1
while a < 6:
    print(a)
    if a == 3:
      break
    a += 1

1
2
3

In [7]:
b = 0
while b < 10:
  b += 1 
  if b == 4:
    continue
  print(b)

1
2
3
5
6
7
8
9
10

In [8]:
#Python code to test that
#lists are Mutable
color = ["Red", "Blue", "Seyan"]
print(color)

color[0] = "Green"
color[-1] = "Orange"

print(color)

['Red', 'Blue', 'Seyan']
['Green', 'Blue', 'Orange']

In [9]:
fruits = ["Apple", "Orange", "Banana"]
for x in fruits:
    print(x)

Apple
Orange
Banana

In [10]:
for x in "SukkurIBAUniversity":
    print(x)

S
u
k
k
u
r
I
B
A
U
n
i
v
e
r
s
i
t
y

In [11]:
flowers = ["Rose", "Jasmine","Mamosa"]
for x in flowers:
    print(x)
    if x == "Jasmine":
        break

Rose
Jasmine

In [12]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [13]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [14]:
for x in range(10,30,2):
    print(x)

10
12
14
16
18
20
22
24
26
28

In [15]:
for x in range(10):
    print(x)
else:
    print("Finally Loop has Finished")

0
1
2
3
4
5
6
7
8
9
Finally Loop has Finished

In [17]:
for x in range(10):
   if x == 5: break
   print(x)
    
else:
    print("Finally Finished")

0
1
2
3
4

In [20]:
a = ["Apple", "Banana", "Orange"]
b = ["Red", "Long", "Big"]

for x in a:
    for y in b:
      print(x,y)

Apple Red
Apple Long
Apple Big
Banana Red
Banana Long
Banana Big
Orange Red
Orange Long
Orange Big