In [2]:
def myfunc():
  global x
  x = "Awesome"
    
myfunc()
print("Python is " + x)

Python is Awesome

In [5]:
x = "Awesome"
def myprogram():
   global x
   x = "Fantastic"
myprogram()

print("Python is " + x)

Python is Fantastic

In [6]:
x = "Sukkur IBA"
print(x)
print(type(x))

Sukkur IBA
<class 'str'>

In [7]:
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [8]:
x = 10.3
print(x)
print(type(x))

10.3
<class 'float'>

In [10]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [11]:
x = ["Apple" , "Banana" , "Orange"]
print(x)
print(type(x))

['Apple', 'Banana', 'Orange']
<class 'list'>

In [12]:
x = ("Apple", "Banana", "Orange")
print(x)
print(type(x))

('Apple', 'Banana', 'Orange')
<class 'tuple'>

In [14]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [16]:
x = {"Name" : "Ali" , "Age" : 20}
print(x)
print(type(x))

{'Name': 'Ali', 'Age': 20}
<class 'dict'>